  <% if !@appeals.empty? -%>
    <table class="table table-bordered table-hover">
      <tbody>
      <% @appeals.each do | appeal | %>
        <tr>
          <td><%= appeal.user.email %></td>
          <td>
            <%= form_for appeal, remote: true, :url => pending_appeal_path(appeal) do |f| %>
              <%= f.hidden_field :is_accepted, value: true %>
              <%= f.submit "Accept", class: "btn btn-primary btn-xs" %>
            <% end %>
          </td>
          <td>
            <%= form_for appeal, remote: true, :url => pending_appeal_path(appeal) do |f| %>
              <%= f.hidden_field :is_accepted, value: false %>
              <%= f.submit "Deny", class: "btn btn-danger btn-xs" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else -%>
    <div class="well well-sm">
      <p>You don't have any friend request</p>
    </div>
  <% end -%>
