<%- model_class = UserMessage -%>

  <div class="well well-sm ">
    <p> 
      <span class="pull-left" style="padding: 6px;">
        <%= image_tag avatar_url(@user_message.user) %>
      </span>
      <span class="badge pull-right">
        <%= time_ago_in_words(@user_message.created_at) %>
       </span>
      <div>
        <%= link_to  user_path(@user_message.user), :method => :get do %> 
          <%= @user_message.user.name %> 
        <% end %>
        <br/>
        <%= @user_message.user.email %>
      </div> 
    </p>
    
    <p>
      <%= auto_link(@user_message.message, :html => { :target => '_blank' }) %>
    </p>
    <%= image_tag @user_message.image_url(:medium).to_s if @user_message.image_url %> 
  <p>

    <%= link_to user_messages_path do %>
      <i class="fa fa-arrow-left"> Back </i>
    <% end %> &nbsp; &nbsp;
    <%= link_to edit_user_message_path(@user_message) do %>
      <i class="fa fa-edit"> Edit </i>
    <% end %> &nbsp; &nbsp;

    <%= link_to user_message_path(@user_message),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
      <i class="fa fa-eraser"> Delete </i>
    <% end %>
  </p>
</div>